 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
 .main{
    height: 600px;
     background-image:url('../resources/image/lalala.avif'); 
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: top;
    padding-top: 80px ;
 }
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
   background-color: rgb(16, 11, 46);
    height: 120px;
    width:90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:30px ; 
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 100;
    /* margin-left: 50px; */
}.logos{
    display: flex;
   flex-direction: column;
    
}
  
   .logo{
       font-weight: bold;
       color: aliceblue;
       
       font-size: 27px;
   
   }
   .logo1{
       font-size:17px ;
       font-weight: lighter;
       color: grey;
       /* padding:0 110px; */
       
   }
   nav ul{
       display: flex;
     padding-left: 20%;
       gap: 20px;
       
   }
   nav ul li{
       font-size: 17px;
       text-transform: capitalize;
       display: inline-block;
      
   }
nav ul li a{
   font-size: 17px;
   text-transform: capitalize;
   color:white ;
   padding:10px;
   text-decoration: none;

   

}
.search{
   color: black;
   background-color: rgb(114, 28, 28);
   width: 130px;
   height: 120px;
  
   
}
nav  li a:hover{
   color: brown;
}

.about{
    font-size: 25px;
    gap: 2%;
}
.home{
    font-size: 17px;
}
.us{
    color: rgb(216, 212, 212);
    display: flex;
    flex-direction: column;
    /* justify-content: end;
    align-items: center;
     */
     margin: 0px auto;
     position: relative;
    
       bottom: 350px;left: 60px;
}
    

.main2 {
    background-image: url('../resources/image/background.avif');
    height: 300px;
    background-position: bottom;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    bottom: 200px; left: 45px;
    width: 93%;
    
}
.container{
    display: flex;
    position: relative;
    /* margin-bottom: 30px; */
    gap: 20px;
    padding: 10px auto;
    /* height: 50px; */
    
}
.first input ,select {
   
    
    padding: 10px auto;
    height: 60px;
    width: 300px;
    opacity: 15%; 
    border: 2px solid grey; 
    
} 
.first input,select,hover{
    border-color:2px solid brown;
} 

    

 .second select  {
     height: 60px;
     width: 100px;
     cursor: pointer;
}
 

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 200px;
    height:90px */
    
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.find{
    width: 90px;
    height: 60px;
    background-color: brown;
    margin-top:20px;
    color: aliceblue;
    cursor:pointer;
    border:none;
}
.find:hover{
    background-color:rgb(212, 84, 84) ;
    
}





.award{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 60px;
     */
     padding: 0px;
     position: relative;
     bottom:99px;
    
}

  .win{
    font-size: 40px;
    color: rgb(18, 4, 4 );
    font-weight: 100;
  }
  .look{
    font-size: 17px;
    color: rgb(92, 71, 71);
    text-transform: uppercase;
   padding-top:20px;
  }

  .both{
    display: flex;
    position: relative;
    left: 40px;
    color: gray;
    /* background-color: brown; */
    width: 93%;
   
    
  }
  .down{
    display: flex;
    justify-content: space-between;
     width:50%; 
    line-height: 30px;
    /* background-color: blue; */
    
    
    
  }

  .img img{
    width: 585px;
    height: 291px;

  }


  .read{
    color: azure;
    background-color: brown;
    width: 155px;
    height: 65px;
    position: relative;
    bottom: 66px; left: 39px;
    background-color: rgb(255, 0, 0);

  }
  .read :hover{
    background-color: rgb(247, 154, 154);
    cursor: pointer;
  }

  .himal{
     background-image: url(../resources/image/best.avif); 
    background-repeat: no-repeat;
    background-position: center; 
    
    /* width:550px; */
  height:500px
}
  
   
  
  .fun{
    font-size:40px;

  }
  .tt{
    font-size: 20px;
    padding:30px;
    color: antiquewhite;
  }

  .fact{
    text-transform: capitalize;
    color: rgb(39, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    padding-top: 8%;
    color:rgb(15, 15, 49);
  }
     
  .lorem{
    position: relative;
    left: 20%; top: 40px;
    width: 89%;
    line-height: 10px;
    color:rgb(23, 23, 81);
    font-size: 18px;
    
 }
 .lup{
  display: flex;
  
  justify-content: center;
  align-items: center;
  position: relative;
  top:45px ; right: 5%;
  color: rgb(62, 62, 104);
  font-size: 18px;
 }
  
        

     .num{
        font-size: 30px;
     }
     .climb{
      font-size: 20px;
     }
     .icon{
      color:white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      top: 19%; gap: 10%;
    
     }
     .mountain,.beach,.camera,.ship{
      position: relative;
      /* font-size: 25px; */
      right: 20px;
     }



     .pup{
      
      margin-top: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     }

     .pop{
      font-size: 35px;
      color: black;
      font-weight: 100;
     }

     .ehh{
      font-size: 17px;
      color: rgb(74, 72, 72);
      padding: 10px;
     }


     .icon2{
      color: gray;
      display: flex;
      flex-direction: row;
      margin-top: 8%;
      gap: 8%;
     
      
     }

          .tour:hover{
      border: brown;
     }
     .tour{
      width:65px;
     }
     .trip{
      font-size: 25px;
      color: black;
      padding-top:20%;
     }

     .week{
      display: flex;
      flex-direction: row;
      gap:8%;
     }
     .lor{
      width: 100%;
      line-height: 30px;
      padding: 8%;
     }
     